.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.card {
  width: 30rem;
  margin: 1vw;
  padding: 2vh;
  background-color: white;
}

body {
  background-color: green;
}

nav {
  display: flex;
}
